.sam{
    height: 94vh;
    padding: 15rem;
    background-image: url(bg\ 4.jpg);
    background-size: cover;
}

#weather {
    font-size:2.5rem;
    font-weight: 600;
}

.liitem{
    font-size: 2rem;
    font-weight: bolder;
}

.sam2{
    padding: 0rem 5rem;
}

.sam h1 {
    font-size: 4rem;
}
.sam h1:hover {
    color: rgba(41, 11, 11, 0.485);
}

div ul li {
    font-size: larger;
    font-weight: 600;
}

#cityname:hover {
    color: rgb(41, 11, 11);
    transition: 2s;
    font-size: 6rem;
}